"dein Scripts-----------------------------
if &compatible
  set nocompatible               " Be iMproved
endif

" Required:
set runtimepath+={{ dein_home }}/repos/github.com/Shougo/dein.vim

" Required:
if dein#load_state('{{ dein_home }}')
  call dein#begin('{{ dein_home }}')

  " Let dein manage dein
  " Required:
  call dein#add('{{ dein_home }}/repos/github.com/Shougo/dein.vim')

  " Add or remove your plugins here:
  call dein#add('Shougo/neosnippet.vim')
  call dein#add('Shougo/neosnippet-snippets')

  " You can specify revision/branch/tag.
  call dein#add('Shougo/deol.nvim', { 'rev': '01203d4c9' })

  " Required:
  call dein#end()
  call dein#save_state()
endif

" Required:
filetype plugin indent on
syntax enable

" If you want to install not installed plugins on startup.
"if dein#check_install()
"  call dein#install()
"endif

"End dein Scripts-------------------------

syntax on
set shiftwidth=4
set tabstop=4
set expandtab
set number
set showcmd
set showmatch
set hlsearch
set laststatus=2
set encoding=utf-8
set fileencoding=utf-8
set termencoding=utf-8
set autoindent

set visualbell t_vb=
set noerrorbells

augroup fileTypeIndent
    autocmd BufRead,BufNewFile *.c setlocal noexpandtab tabstop=8 softtabstop=8 shiftwidth=8
    autocmd BufRead,BufNewFile *.h setlocal noexpandtab tabstop=8 softtabstop=8 shiftwidth=8
augroup END

